<div
class="flex flex-wrap gap-3 mt-8 pr-16 max-md:max-w-full max-md:flex-wrap max-md:pr-5"
>
<div
  class="text-slate-800 text-base leading-5 bg-stone-200 grow items-center px-5 py-3.5 rounded-3xl"
>
  Cães
</div>
<div
  class="text-slate-800 text-base leading-5 whitespace-nowrap bg-stone-200 grow items-center px-5 py-3.5 rounded-3xl"
>
  Gatos
</div>
<div
  class="text-slate-800 text-base leading-5 whitespace-nowrap bg-stone-200 grow px-5 py-3.5 rounded-3xl max-md:pl-1.5"
>
  1kg-50kg
</div>
<div
  class="text-slate-800 text-base leading-5 whitespace-nowrap bg-stone-200 grow items-center px-5 py-3.5 rounded-3xl"
>
  Filhotes
</div>
<div
class="text-slate-800 text-base leading-5 whitespace-nowrap bg-stone-200 grow items-center px-5 py-3.5 rounded-3xl"
>
Animais Idosos
</div>
<div
class="text-slate-800 text-base leading-5 whitespace-nowrap bg-stone-200 grow px-4 py-3.5 rounded-3xl"
>
Cuidados Especiais
</div>
<div
class="text-slate-800 text-base leading-5 whitespace-nowrap bg-stone-200 grow px-5 py-3.5 rounded-3xl max-md:pl-2"
>
Animais Exóticos
</div>
</div>
