<div
  class="bg-[#067883] h-4/4 w-3/5 flex flex-col rounded-xl shadow-noteShadow p-6 gap-y-7"
>
  <div>
    <p class="font-body text-2xl text-[#F5F3EC] font-semibold">Valores:</p>
    <p class="font-h2 text-4xl text-[#F5F3EC] font-semibold">50R$ Por Turno</p>
  </div>

  <div>
    <p class="font-body text-2xl text-[#F5F3EC] font-semibold">
      Fulana aceita:
    </p>
    <p class="font-h2 text-4xl text-[#F5F3EC] font-semibold">
      Pix Cartão Dinheiro
    </p>
  </div>

  <app-date-selector class="flex flex-col p-3"></app-date-selector>
  <app-button customClasses="p-6 rounded-3xl text-3xl w-2/5"
    >Reservar</app-button
  >
</div>
