<p class="font-body text-2xl m-2 text-[#F5F3EC]">Selecione a Data:</p>
<div class="flex flex-col ">
  <div class="flex">
    <app-input customClasses="bg-[#D7D1C2] placeholder:text-black font-semibold" type="text"  name="Dia" placeholder="Dia" class="w-full p-2 rounded focus:outline-none focus:shadow-outline" />
    <app-input customClasses="bg-[#D7D1C2] placeholder:text-black font-semibold" type="text"  name="Mês" placeholder="Mês" class="w-full p-2 rounded focus:outline-none focus:shadow-outline" />
  </div>

  <div class="flex">
    <app-input customClasses="bg-[#D7D1C2] placeholder:text-black font-semibold" type="text"  name="Manha" placeholder="Manha" class="w-full p-2 rounded focus:outline-none focus:shadow-outline" />
    <app-input customClasses="bg-[#D7D1C2] placeholder:text-black font-semibold" type="text"  name="Tarde" placeholder="Tarde" class="w-full p-2 rounded focus:outline-none focus:shadow-outline" />
    <app-input customClasses="bg-[#D7D1C2] placeholder:text-black font-semibold" type="text"  name="Noite" placeholder="Noite" class="w-full p-2 rounded focus:outline-none focus:shadow-outline" />
  </div>

</div>

