<div class="bg-stone-200 flex flex-col">
  <app-header></app-header>

  <div
    class="flex w-[387px] max-w-full flex-col items-stretch ml-20 mt-5 self-start max-md:ml-2.5"
  >
    <app-search-input></app-search-input>

    <div
      class="text-slate-800 text-center text-4xl leading-10 whitespace-nowrap mt-24 self-end max-md:mt-10"
    >
      Fulana C.
    </div>
  </div>

  <div
    class="shadow-sm bg-cyan-600 self-stretch w-full pt-0 mt-2 pb-12 px-20 max-md:max-w-full max-md:px-5"
  >
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[61%] max-md:w-full max-md:ml-0"
      >
        <div class="z-[1] flex flex-col max-md:max-w-full max-md:mt-3">
          <div
            class="flex w-[396px] max-w-full items-stretch justify-between gap-5 self-start"
          >
            <img
              loading="lazy"
              srcset="..."
              class="aspect-square object-contain object-center w-[200px] overflow-hidden shrink-0 max-w-full"
            />
          </div>

          <app-sitter-tags></app-sitter-tags>
        </div>
      </div>
      <app-reserve-card></app-reserve-card>
    </div>
  </div>
  <div class="self-center z-[1] w-full max-w-[1269px] -mt-16 max-md:max-w-full">
    <div
      class="text-slate-800 text-4xl leading-10 self-stretch whitespace-nowrap mt-20 max-md:max-w-full max-md:mt-10"
    >
      Minha experiência:
    </div>
    <div
      class="text-stone-100 text-2xl leading-8 w-[575px] bg-cyan-700 self-stretch items-stretch mt-1 pt-6 pb-12 px-5 max-md:max-w-full max-md:pr-0.5"
    >
      Atuo como Sitter a mais de 5 anos. Gosto muito
      <br />
      de animais de todos os tipos e adoro cuidar de animais grandes. Sou muito
      atenta e cuidadosa.
    </div>
    <div
      class="text-slate-800 text-4xl leading-10 self-stretch whitespace-nowrap mt-20 max-md:max-w-full max-md:mt-10"
    >
      Avaliações:
    </div>
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0">
        <div
          class="bg-stone-100 grow w-full mx-auto pl-4 pr-6 py-2.5 max-md:max-w-full max-md:mt-10 max-md:pr-5"
        >
          <div
            class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0"
          >
            <div
              class="flex flex-col items-stretch w-[22%] max-md:w-full max-md:ml-0"
            >
              <img
                loading="lazy"
                srcset="..."
                class="aspect-square object-contain object-center w-[120px] overflow-hidden shrink-0 max-w-full mt-1 max-md:mt-9"
              />
            </div>
            <div
              class="flex flex-col items-stretch w-[78%] ml-5 max-md:w-full max-md:ml-0"
            >
              <div class="flex flex-col max-md:max-w-full max-md:mt-8">
                <div
                  class="self-stretch flex w-full justify-between gap-5 max-md:max-w-full max-md:flex-wrap"
                >
                  <div class="text-black text-2xl leading-8">Marta</div>
                  <div
                    class="items-stretch self-stretch flex gap-px max-md:justify-center"
                  >
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/ba47c73b-1549-48ba-a3d3-24343682d54b?"
                      class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/d60e7bb3-77a5-4017-898b-2233ec7fc934?"
                      class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/b109db70-6a6c-4047-89e6-527884e09e13?"
                      class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/e58e1dd2-5124-483c-b1f8-77325320607b?"
                      class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/73912689-fddd-4908-b4c8-9cd5bbd0e4b4?"
                      class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
                    />
                  </div>
                </div>
                <div
                  class="text-black text-base leading-5 self-stretch mt-7 max-md:max-w-full"
                >
                  Serviço excelente ! Recomendo à todos meus amigos. Todos os
                  animais foram bem alimentados e casa estava em ordem.
                </div>
                <div
                  class="flex w-[238px] max-w-full items-stretch gap-1.5 mr-3 mt-4 max-md:mr-2.5"
                >
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/4d40b23a-8909-4559-aae2-5df8b94f4740?"
                    class="aspect-square object-contain object-center w-[22px] overflow-hidden shrink-0 max-w-full"
                  />
                  <div
                    class="text-black text-base leading-5 grow whitespace-nowrap mt-2 self-start"
                  >
                    Porto Alegre, Setembro 2023
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
