<form>

  <app-h2 customClasses="mb-6">Login</app-h2>

  <div class="mb-4">
      <app-input customClasses="bg-[#D7D1C2] placeholder:text-black font-medium" type="email" id="email" name="email" placeholder="email"></app-input>
  </div>

  <div class="mb-4">
    <app-input customClasses="bg-[#D7D1C2] placeholder:text-black font-medium" type="password" id="password" name="password" placeholder="Senha"></app-input>
  </div>

  <app-hyperlink customClasses="font-body text-base">Esqueci minha senha</app-hyperlink>


  <app-button>Entrar</app-button>
</form>

<p class="font-body text-base">Não possui uma conta? Cadastre-se
      <app-hyperlink >aqui</app-hyperlink>
    </p>
