<form>
  <h2 class="text-2xl font-semibold mb-4 text-center">Login</h2>

  <!-- Email Input -->
  <div class="mb-4">
      <app-input type="email" id="email" name="email" placeholder="Email"></app-input>
  </div>

  <!-- Password Input -->
  <div class="mb-4">
    <app-input type="password" id="password" name="password" placeholder="Senha"></app-input>
  </div>

  <!-- Forgot Password and Sign Up links -->
  <app-hyperlink>Esqueci minha senha</app-hyperlink>


  <app-button>Entrar</app-button>
</form>

<p>Não possui uma conta? Cadastre-se
      <app-hyperlink >aqui</app-hyperlink>
    </p>
