<section class="bg-[#E8E4DA] flex flex-col gap-5 grid-cols-2 h-screen p-10">


  <app-card customClasses="bg-[#071222] mb-10 ml-20 p-4">
    <app-h2 customClasses="font-bold font-h2 align-middle mb-0 text-[#D7D1C2]">Quer se tornar um sitter?</app-h2>
  </app-card>


  <div class="flex">
    <div class="w-2/3 flex items-center justify-center">
      <img src="assets/imgs/image 2.jpg" alt="Sitter com gato" class="rounded-xl shadow-noteShadow" >
    </div>

    <div class="w-1/2 flex flex-col items-center justify-between">
      <h3 class=" text-3xl mb-4 text-justify font-normal font-body leading-relaxed">Gosta de animais ou
        já trabalha como sitter ? Conheça melhor nossa plataforma e crie seu perfil para participar! </h3>

      <app-button customClasses="py-6 px-28 text-center text-2xl rounded-3xl mb-10">Crie seu perfil</app-button>
    </div>
  </div>

</section>
