<div class="rounded-3xl shadow-noteShadow">

  <!--Localização e avaliações-->
  <div class="w-full h-1/3 bg-[#1E2939] rounded-t-2xl p-5 flex justify-center">
    <div class="flex flex-col justify-center items-center">
      <p class="text-[#F5F3EC] font-body font-medium text-3xl">Localização</p>
      <p class="text-[#F5F3EC] font-body font-medium text-2xl">Estrelas (quantidade avaliações)</p>
    </div>
  </div>


  <div class="flex w-full h-2/3 bg-[#E8E4DA] p-5 rounded-b-2xl">
    <div class="w-4/6 grid grid-col gap-y-5">
      <img src="assets/imgs/image 2.jpg" class="rounded-2xl w-full">

      <app-h2 customClasses="text-[#067883] text-start font-h1 font-semibold mb-5">Fulana C.</app-h2>
    </div>

    <div class="flex flex-col w-4/5 p-3 gap-4 ">
      <app-h2 customClasses="font-h2 text-[#067883] text-start font-bold text-4xl">50R$ por turno</app-h2>
      <p class="font-body text-2xl text-left font-medium  line-clamp-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit
        onsectetur adipisicing elit
        amet consectetur adipisicing elit
        onsectetur adipisicing elit
         </p>
      <app-button customClasses="w-3/5 ml-24 text-xl">Ver Perfil</app-button>
    </div>


  </div>


</div>

