<div class="rounded-3xl shadow-noteShadow">
  <!--Localização e avaliações-->
  <div
    class="w-full bg-[#1E2939] rounded-t-2xl p-5 flex justify-center align-middle"
  >
    <div class="flex flex-col justify-center items-center gap-y-3">
      <p class="text-[#F5F3EC] font-body font-medium text-3xl">{{ cidade }}</p>

      <div class="flex justify-between gap-x-3">
        <div class="flex">
          <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
            <app-star
              [fillColor]="i < nota ? 'white' : 'none'"
              strokeColor="white"
            ></app-star>
          </ng-container>
        </div>

        <p class="text-white font-body text-2xl">
          ({{ avaliacoes }} Avaliações)
        </p>
      </div>
    </div>
  </div>

  <div class="flex w-full h-3/5 bg-[#E8E4DA] p-5 rounded-b-2xl">
    <div class="w-3/6 grid grid-col gap-y-5">
      <img src="{{ imagePath }}" class="rounded-2xl w-full" />

      <app-h2
        customClasses="text-[#067883] text-start font-h1 font-semibold mb-5"
        >{{ name }}</app-h2
      >
    </div>

    <div class="flex flex-col w-4/5 p-3 gap-4 ml-4">
      <app-h2
        customClasses="font-h2 text-[#067883] text-start font-bold text-4xl"
        >{{ valor }}R$ por turno</app-h2
      >
      <p class="font-body text-2xl text-left font-normal line-clamp-3">
        {{ descricao }}
      </p>
      <a routerLink="/profile/{{ id }}">
        <app-button customClasses="w-3/4 rounded-2xl ml-20 text-xl p-3"
          >Ver Perfil</app-button
        >
      </a>
    </div>
  </div>
</div>
