<div class="bg-white p-4 rounded-lg flex justify-center align-middle shadow-noteShadow">
  <!-- Imagem no canto esquerdo -->
  <div  alt="Imagem do Cliente" class="self-center w-40 h-20 rounded-lg mr-4 bg-[#09AAB9]"></div>

  <div>
    <!-- Nome do Cliente -->
    <h4 class="text-lg font-bold font-body mb-2">Nome do Cliente</h4>

    <!-- Parágrafo com informações do relato -->
    <p class="text-black font-body font-medium text-left mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida lacus vel nisi ultricies, a luctus odio aliquam.</p>

    <!-- Espaço para cidade e data -->
    <p class="text-right text-gray-500">Cidade - Mês/Ano</p>
  </div>
</div>
