<div
  class="bg-[#E8E4DA] p-4 rounded-lg flex justify-center align-middle shadow-noteShadow"
>
  <!-- Imagem no canto esquerdo -->
  <img
    [src]="imagePath"
    alt="Imagem do Cliente"
    class="self-center w-1/2 h-1/2 rounded-lg mr-4"
  />

  <div>
    <!-- Nome do Cliente -->
    <h4 class="text-lg font-bold font-body mb-2">{{ name }}</h4>

    <!-- Parágrafo com informações do relato -->
    <p class="text-black font-body font-normal text-left mb-4">{{ report }}</p>

    <!-- Espaço para cidade e data -->
    <p class="text-right">{{ cidade }} - {{ data }}</p>
  </div>
</div>
