<section class="bg-[#E8E4DA] flex">

  <div class="flex flex-col align-middle items-start justify-center text-start w-1/2 gap-y-20 p-10 pr-0 ml-14 mt-10">

  <app-card customClasses="bg-[#09AAB9] py-5 px-3">
    <app-h2 customClasses="text-5xl mb-0 font-extrabold text-start flex-grow font-h2">Procurando por Sitters em:</app-h2>
  </app-card>

  <app-search-input class="bg-[#27B1FF] w-3/3 rounded-3xl p-3 shadow-inputShadow flex justify-between"></app-search-input>
  </div>


  <div class="flex flex-col align-middle items-end justify-center text-start w-1/2 gap-y-20 p-10 pr-20 px-15 ml-20 mt-10" >
    <div class="bg-[#27B1FF] rounded-2xl p-4 h-3/5 w-3/6 flex flex-col items-end">
      <img src="assets/imgs/Logo.png" class="h-full w-full" alt="Logo">
    </div>

    <div class="mt-4 flex gap-x-36">
      <p class="font-body text-[#067883] text-3xl">Filtrar</p>
      <p class="font-body text-[#067883] text-3xl">Ordenar</p>
    </div>
  </div>


</section>
